.baseContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 3px solid GREEN;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px grey;
    padding-bottom: 5px;
}

.footer {
    margin: 30px;
    border-top: 1px solid green;
    text-align: center;
    font-size: 12px 
}

.budget-h {
    margin-left: 15px;
}

.remaining-group {
}